<div class="card card-primary">

    <form>
        <div class="card-body">
            <div class="form-group col-sm-2">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-sm-2">
                <label for="LastName">Last Name</label>
                <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group col-sm-2">
                <label for="Age">Age</label>
                <input type="age" class="form-control" id="age" placeholder="Age">
            </div>
            <div class="form-group col-sm-2">
                <label for="telephone">Telephone</label>
                <input type="telephone" class="form-control" id="telephone" placeholder="(DDD) Number">
            </div>
            <div class="form-group col-sm-2">
                <label for="Address">Address</label>
                <input type="address" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="form-group col-sm-2">
                <label for="Graduation">Graduation</label>
                <input type="graduation" class="form-control" id="graduation" placeholder="Graduation">
            </div>
            <div class="form-group col-sm-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
            </div>
            <div class="form-group col-sm-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group col-sm-8">
                <label for="inputAbout">About</label>
                <textarea id="inputAbout" class="form-control" rows="4"></textarea>
                </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>