<div class="card card-primary">

    <div class="col-md">
        <div class="card card-primary">
            <div class="card-header titulo-principal ">
                <h2><b> REGISTER</b></h2>
                    <div class="card-body container">

                        <div class="col">
                            <label for="Name"></label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="LastName"></label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="CPF"></label>
                                <input type="text" class="form-control" id="age" placeholder="Enter CPF">
                            </div>
                            <div class="col-2">
                                <label for="Age"></label>
                                <input type="number" class="form-control" id="age" placeholder="Enter Age">
                            </div>
                            <div class="col-4">
                                <label for="Graduation"></label>
                                <input type="graduation" class="form-control" id="graduation"
                                    placeholder="Enter Graduation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address"></label>
                            <input type="address" class="form-control" id="address" placeholder="Enter Address">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label"></label>
                                <input type="text" class="form-control" id="inputCity" placeholder="Enter City">
                            </div>
                            <div class="col-md-6">
                                <label for="inputState" class="form-label"></label>
                                <select id="inputState" class="form-select" placeholder="Enter State">
                                    <option selected>Acre</option>
                                    <option selected>Alagoas</option>
                                    <option selected>Amapá</option>
                                    <option selected>Amazonas</option>
                                    <option selected>Bahia</option>
                                    <option selected>Ceará</option>
                                    <option selected>Distrito Federal</option>
                                    <option selected>Espírito Santo</option>
                                    <option selected>Goiás</option>
                                    <option selected>Maranhão</option>
                                    <option selected>Mato Grosso</option>
                                    <option selected>Mato Grosso do Sul</option>
                                    <option selected>Minas Gerais</option>
                                    <option selected>Pará</option>
                                    <option selected>Paraíba</option>
                                    <option selected>Paraná</option>
                                    <option selected>Pernambuco</option>
                                    <option selected>Piauí</option>
                                    <option selected>Rio de Janeiro</option>
                                    <option selected>Rio Grande do Norte</option>
                                    <option selected>Rio Grande do Sul</option>
                                    <option selected>Rondônia</option>
                                    <option selected>Roraima</option>
                                    <option selected>Santa Catarina</option>
                                    <option selected>São Paulo</option>
                                    <option selected>Sergipe</option>
                                    <option selected>Tocantins</option>
                                    <option selected>Select State</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="exampleInputEmail1"></label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Enter email">
                            </div>
                            <div class="col-6">
                                <label for="exampleInputPassword1"></label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>