<div class="container">
  <h1>About</h1>

  <p>
    This site is an innovative social network that aims to unite athletes in a
    place where they can exchange experiences and also encourage people to
    practice some sport.
  </p>
  <p>
    The team is composed by the members Alexsandro Corrêa, Ciro Ugalde,
    Stephanie Vieira, Lucas Corrêa Agostinho and brings as an application, the
    idea of ​​a Social Network for the practice of sports, which provides the
    possibility of creating an account, controlling the profile, interacting
    with other users and recording their activities. The project is currently in
    its version of the application of the concepts learned so far in the course.
  </p>
  <p>
    The project is under development and will initially have a website and a
    functional desktop application. More updates will come in the future.
  </p>

  <h2>Authors</h2>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/Alexsandro-Correa">
                    <img
                    class="img-circle"
                    src="https://avatars.githubusercontent.com/u/104040311?v=4"
                    alt="Creator Profile"
                  />
                  </a>
                </td>
                <td>
                  <p class="ps-2">
                    <b>Alexsandro:</b> Main: responsible for navigation between
                    actions, handling exceptions and creating trello for the
                    team. In Angular, responsible for creating about and faqs.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/Ciro-Ugalde">
                     <img
                      class="img-circle"
                      src="https://avatars.githubusercontent.com/u/102829436?v=4"
                      alt="Creator Profile"
                    />
                  </a>
                </td>
                <td>
                  <p class="ps-2"><b>Ciro:</b> CR-(UD) : responsible for writing the classes that manage actions of UPDATE(edit) / DELETE(delete) items in the lists of objects kept in memory. In angular, responsible for creating the profile, settings, login and footer.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/lucascagostinho">
                    <img
                    class="img-circle"
                    src="https://avatars.githubusercontent.com/u/77413786?v=4"
                    alt="Creator Profile"
                  />
                  </a>
                </td>
                <td>
                  <p class="ps-2"><b>Lucas:</b> Git: responsible for creating the shared repository and maintaining the documentation, class diagram, classes, inheritance and interfaces (interface even for CRUD actions). In angular, responsible for creating the home and header.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/Ste-Vieira">
                    <img
                    class="img-circle"
                    src="https://avatars.githubusercontent.com/u/104040319?v=4"
                    alt="Creator Profile"
                  />
                  </a>
                </td>
                <td>
                  <p class="ps-2">
                    <b>Stephanie:</b> responsible for writing the classes that manage the CREATE(add) and READ(read,fetch,list) actions in the lists of objects kept in memory. In angular, responsible for register and profile.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
