<h1>About</h1>

<p>
  The team is composed by the members Alexsandro Corrêa, Ciro Ugalde, Stephanie
  Vieira, Lucas Corrêa Agostinho and brings as an application, the idea of ​​a
  Social Network for the practice of sports, which provides the possibility of
  creating an account, controlling the profile, interacting with other users and
  recording their activities. The project is currently in its version of the
  application of the concepts learned so far in the course.
</p>

<h2>Authors</h2>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img
          class="img-fluid img-circle"
          src="https://avatars.githubusercontent.com/u/104040311?v=4"
          alt="Creator Profile"
        />
        <p class="ps-2 d-inline"><b>Alexsandro:</b> responsible for...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img
          class="img-fluid img-circle display-inline"
          src="https://avatars.githubusercontent.com/u/102829436?v=4"
          alt="Creator Profile"
        />
        <p class="ps-2 d-inline"><b>Ciro:</b> responsible for...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img
          class="img-fluid img-circle display-inline"
          src="https://avatars.githubusercontent.com/u/77413786?v=4"
          alt="Creator Profile"
        />
        <p class="ps-2 d-inline"><b>Lucas:</b> responsible for...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img
          class="img-fluid img-circle display-inline"
          src="https://avatars.githubusercontent.com/u/104040319?v=4"
          alt="Creator Profile"
        />
        <p class="ps-2 d-inline"><b>Stephanie:</b> responsible for...</p>
      </div>
    </div>
  </div>
</div>
