.list-group-unbordered>.list-group-item {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.user-block img {
    float: left;
    height: 40px;
    width: 40px;
}

.img-circle {
    border-radius: 50%;
}

.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

img {
    vertical-align: middle;
    border-style: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.post {
    border-bottom: 1px solid #adb5bd;
    color: #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.card-primary:not(.card-outline)>.card-header,
.card-primary:not(.card-outline)>.card-header a {
    color: #fff;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #007bff;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 0 solid rgba(0, 0, 0, .125);
}

*,
::after,
::before {
    box-sizing: border-box;
}