      <div class="row justify-content-center">
              <div class="section_heading text-center wow fadeInUp" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <h3><span>Frequently </span> Asked Questions</h3>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-lg-8">
              <div class="accordion faq-accordian" id="faqAccordion">
                  <div class="card border-0 wow fadeInUp"  style="animation-delay: 0.2s; animation-name: fadeInUp;">
                      <div class="card-header" id="headingOne">
                          <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why use this site?<span class="lni-chevron-up"></span></h6>
                      </div>
                      <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                          <div class="card-body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                              <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card border-0 wow fadeInUp"  style=" animation-delay: 0.3s; animation-name: fadeInUp;">
                      <div class="card-header" id="headingTwo">
                          <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">What are the advantages that the site can give me?<span class="lni-chevron-up"></span></h6>
                      </div>
                      <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                          <div class="card-body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                              <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card border-0 wow fadeInUp" style="animation-delay: 0.4s; animation-name: fadeInUp;">
                      <div class="card-header" id="headingThree">
                          <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Why can't I login?<span class="lni-chevron-up"></span></h6>
                      </div>
                      <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                          <div class="card-body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem facere deserunt sint animi sapiente vitae suscipit.</p>
                              <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                          </div>
                        </div>
